@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl font-bold md:text-3xl;
  }
  
  h2 {
    @apply text-xl font-bold md:text-2xl;
  }
  
  h3 {
    @apply text-lg font-bold md:text-xl;
  }
}

code {
  font-family: var(--font-geist-mono), monospace;
}