---
import "../styles/global.css"
import Header from '../components/Header.astro' 
---

<div class="h-screen w-screen flex bg-[#121212] mx-auto">
	<Header />
		<main class="content-start p-20">
			<section class="sm:text-sm md:text-md: lg:text-md font-normal text-gray-600 m-8">
				<a href="/posts/post-1" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Programming without AI</a>
			</section>	
		</main>
</div>

