---
import "../styles/global.css"
import Header from "../components/Header.astro";
---

<div class="w-screen h-screen flex bg-[#121212] mx-auto">
	<Header />
	<main class="grid content-center">
		<h1 class="sm: text-xl md: text-4xl lg:text-6xl font-semibold text-white">
			Work showcases coming soon
		</h1>
		
	</main>
</div>


