---
import "../styles/global.css"

---
<div class="w-screen h-screen flex bg-[#121212] mx-auto">
	<main class="grid content-center p-20">
		<section class="text-md font-normal text-gray-600 m-8">
			Software Engineer @ Amazon
		</section>
		<h1 class="text-8xl font-semibold text-white">
			Joseph Chen
		</h1>
		
	</main>
</div>


